<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ChekLogin</filter-name>
        <filter-class>shop.filter.ChekLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ChekLogin</filter-name>
        <servlet-name>StoreServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>shop.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>shop.servlet.ActivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CinemaServlet</servlet-name>
        <servlet-class>cinema.model.CinemaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>cinema.model.MovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>shop.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>shop.servlet.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>shop.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>shop.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/Activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CinemaServlet</servlet-name>
        <url-pattern>/Cinema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/Movie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
